*{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    height: 4rem;
    background-color: black;
}

.top-nav{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

.left-nav-container{
    display: flex;
}

.left-nav-button{
    align-self: center;
}

.left-nav-button button{
    color: white;
    background-color: black;
    border: none;
}

.left-nav-text{
    margin: 0 1rem;
    align-self: center;
    color: white;
}

.middle-nav{
    display: none;
    color: white;
}

.right-nav{
    align-self: center;
    color: white;
}

main{
    position: fixed;
}

.drop-down{
    display: none;
    color: white;
    align-self: center;
    margin: auto;
}

.center-text-drop-down{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down h1{
    padding: 2rem 0;
}

main h1,p{
    margin: 0 1.8rem;
}

/*remove menu button and drop down menu on larger screens from 45em(720px).*/
@media (min-width: 45em){
    .left-nav button{
        display: none;
    }

    .middle-nav{
        display: flex;
        align-self: center;
    }

    .middle-nav h3{
        margin: 0 0.5rem;
    }

    .drop-down{
        display: none;
    }

    .left-nav-button{
        display: none;
    }
}